# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm
yarn.lock

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
package-lock.json

/node_modules
/.pnp
.pnp.js

# production
/build

yarn-debug.log*
yarn-error.log*
/.temp_img/*
/.temp_audio/*
/.VSCodeCounter
